.items {
  display: grid;
  grid-template-rows: 10fr 1fr;
  gap: 20px;


  &_products {
    display: grid;
    gap: 20px;
    margin: 0 auto;
    max-height: 620px;
    padding: 5px 30px 30px 30px;

    &_scroll_true {
      overflow: auto;

      &::-webkit-scrollbar {
        width: 20px;
      }
    }

    > div:nth-child(1) {
      margin-top: 30px;
    }
  }

  &_panelBooking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;

    &__delivery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;

      button:hover {
        color: #DDDDDD;
      }

      &_active {
        color: #EE3F3B;
        border: 2px solid #EE3F3B;
        box-sizing: border-box;
        background: none;
      }
    }

    &_releaseBooking {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }

    &__totalPrice {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__btn_unActive {
      color:  #EE3F3B;
      border: 2px solid #EE3F3B;
      box-sizing: border-box;
      background: none;

      &:hover {
        background: none;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1600px) {
  .items {
    grid-template-rows: 8fr 1fr;
    gap: 20px;

    &_products {
      gap: 10px;
      margin: 0 auto;
      max-height: 540px;

      > div:nth-child(1) {
        margin-top: 10px;
      }
    }

    &_panelBooking {
      gap: 40px;

      &__delivery {
        gap: 30px;
      }

      &_releaseBooking {
        gap: 70px;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1400px) {
  .items {
    grid-template-rows: 8fr 1fr;
    gap: 20px;

    &_products {
      gap: 10px;
      margin: 0 auto;
      max-height: 540px;

      > div:nth-child(1) {
        margin-top: 10px;
      }
    }

    &_panelBooking {
      gap: 30px;

      &__delivery {
        gap: 30px;
      }

      &_releaseBooking {
        gap: 30px;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1200px) {
  .items {
    grid-template-rows: 9fr 1fr;
    gap: 10px;

    &_products {
      gap: 10px;
      max-height: 440px;
      padding: 5px 15px 15px 15px;

      > div:nth-child(1) {
        margin-top: 15px;
      }
    }

    &_panelBooking {
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      &__delivery {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }

      &_releaseBooking {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////

@media (max-width: 992px) and (min-height: 600px) {
  .items {
    grid-template-rows: 1fr 0.3fr;
    gap: 10px;

    &_products {
      gap: 10px;
      max-height: 410px;
      padding: 15px;
      overflow: auto;

      > div:nth-child(1) {
        margin-top: 0;
      }
    }

    &_panelBooking {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1.2fr;
      gap: 0;

      &__delivery {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: auto;

        button {
          width: 150px;
        }
      }

      &_releaseBooking {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        gap: 10px;
        margin: auto;
        padding-bottom: 15px;

        h4 {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-height: 950px) {
  .items {
    &_products {
      max-height: 640px;
    }
  }
}

@media (max-height: 900px) {
  .items {
    &_products {
      max-height: 590px;
    }
  }
}

@media (max-height: 850px) {
  .items {
    &_products {
      max-height: 550px;
    }
  }
}

@media (max-height: 800px) {
  .items {
    &_products {
      gap: 10px;
      max-height: 500px;
    }
  }
}

@media (max-height: 750px) {
  .items {
    &_products {
      max-height: 460px;
    }
  }
}

@media (max-height: 700px) {
  .items {
    &_products {
      max-height: 400px;
    }
  }
}

@media (max-height: 650px) {
  .items {
    &_products {
      max-height: 360px;
    }
  }
}

@media (max-height: 600px) {
  .items {
    &_products {
      max-height: 370px;
    }
  }
}