.additivesPop {
  background: #171717;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #0A0A0A;
  border-radius: 8px;
  position:  fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 570px;
  height: 680px;
  z-index: 5;

  &_visible_false {
    display: none;
  }

  &_visible_true {
    display: block;
  }

  &__cross {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
  }

  &__container {
    margin: 50px 30px;
    display: grid;
    grid-template-rows: 0.5fr 3.5fr 1.5fr;
    height: 100%;
  }

  &__name {
    text-align: center;
  }

  &__items {
    display: grid;
  }

  &__btn {
    text-align: center;

    &_noActive {
      color:  #EE3F3B;
      border: 2px solid #EE3F3B;
      box-sizing: border-box;
      background: none;

      &:hover {
        background: none;
      }
    }
  }
}