.additive {
  max-width: 500px;
  max-height: 31px;
  display: grid;
  grid-template-columns: 10fr 2fr 3fr 1fr;

  &__checkbox {
    background: #171717;
    border: 1px solid #FBF9F9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &_checked {
      &:before {
        content: '';
        display: block;
        position: relative;
        top: 11px;
        left: 6px;
        width: 20px;
        height: 3px;
        background: #DDDDDD;
        transform: rotate(135deg);
        border-radius: 30px;
      }

      &:after {
        content: '';
        display: block;
        position: relative;
        width: 12px;
        height: 3px;
        background: #DDDDDD;
        top: 11px;
        border-radius: 30px;
        transform: rotate(45deg);
      }
    }
  }
}
