.burger {
  .page {
    width: 300px;
    height: 500px;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}