.cardProduct {
  background: #171717;
  box-shadow: 0px 0px 30px #0A0A0A;
  border-radius: 8px;
  width: 520px;
  height: 250px;

  &__container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 15px;
    padding: 16px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 0.5fr;

    .description {
      &__title {
        margin-top: 11px;
        margin-bottom: 22px;
      }
    }
    .priceAdd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__add {
        cursor: pointer;
        color: #DDDDDD;
      }
    }
  }
}