.cardProduct {
  background: #171717;
  box-shadow: 0px 0px 30px #0A0A0A;
  border-radius: 8px;
  width: 520px;
  height: 250px;

  &__container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 15px;
    padding: 16px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 0.5fr;

    .description {
      &__title {
        margin-top: 11px;
        margin-bottom: 22px;
      }
    }
    .priceAdd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__add {
        cursor: pointer;
        color: #DDDDDD;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1800px) {
  .cardProduct {
    width: 450px;
    height: 180px;

    &__container {
      grid-template-columns: 0.9fr 1fr;
      gap: 15px;
      padding: 10px;
    }

    &__items {
      grid-template-rows: 3fr 1fr;

      .description {
        &__title {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1600px) {
  .cardProduct {
    width: 390px;
    height: 160px;
    position: relative;


    &__container {

      grid-template-columns: 0.7fr 1.3fr;
      gap: 10px;
      padding: 8px;
    }

    &__items {
      .description {
        &__title {
          margin-top: 15px;
          margin-bottom: 0;
        }

        &__weight {
          position: absolute;
          bottom: 15px;
        }
      }

      .priceAdd {
        width: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 7px;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1400px) {
  .cardProduct {
    width: 320px;


    &__items {
      .description {
        &__weight {
          bottom: 10px;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1200px) {
  .cardProduct {
    width: 280px;
    height: 130px;


    &__items {
      .description {
        &__title {
          margin-top: 5px;
        }

        &__weight {
          bottom: 12px;
        }
      }

      img {
        width: 25px!important;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////

@media (max-width: 992px) and (min-height: 600px) {
  .cardProduct {
    width: 290px;
    height: 355px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > div:nth-child(1) {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 4fr 1fr;
      }

      .description {
        &__name {
          grid-column: 1/2;
          grid-row: 1/2;
        }

        &__title {
          grid-column: 1/2;
          grid-row: 2/3;
        }

        &__weight {
          position: static;
          grid-column: 2/3;
          grid-row: 1/2;
        }
      }

      .priceAdd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: static;
        transform: unset;
        width: 100%;

        &__add {
          cursor: pointer;
          color: #DDDDDD;
        }
      }
    }
  }
}