@mixin checkbox {
  width: 20px;
  height: 20px;
  background: #171717;
  border: 1.26562px solid #FBF9F9;
  box-sizing: border-box;
  border-radius: 63.2812px;
  margin-right: 12px;
  cursor: pointer;
}

@mixin checkbox_active {
  content: '';
  display: block;
  position: relative;
  width: 13px;
  height: 13px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #FBF9F9;
  border: 1.26562px solid #FBF9F9;
  box-sizing: border-box;
  border-radius: 63.2812px;
}

.main{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 576px;
  height: 936px;
  background: #171717;
  border: 1px solid #FBF9F9;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #0A0A0A;
  border-radius: 8px;
  margin: auto;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DDDDDD;
  z-index: 999;

  &__cross {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .container {
    padding: 70px 30px 45px 30px;

    .items {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr 2fr 2.5fr;
      gap: 20px;

      input, textarea {
        width: 512px;
        height: 56px;
        background: #171717;
        border: 1px solid #FBF9F9;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 14px;
        font-size: 22px;
        line-height: 21px;
        color: #AEA6A6;
        font-family: Gotham Pro;
      }

      .inputBlock {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

        input {
          width: 144px;
          height: 56px;
        }
      }

      .intercom {
        h4 {
          margin-bottom: 25px;
        }

        &_answer {
          display: flex;
          align-items: center;
        }

        &_item {
          margin-right: 80px;
          display: flex;
          align-items: center;

          .intercom__checkbox {
            @include checkbox;

            &_active {
              &:before {
                @include checkbox_active;
              }
            }
          }
        }
      }

      .comment {
        > textarea {
          width: 512px;
          height: 120px;
        }
      }

      .formPay {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        &_item {
          display: flex;
          align-items: center;
          cursor: pointer;

          &_active {
            p {
              color: #E3000F;
            }
          }

          > p {
            margin-left: 10px;
          }
        }
      }

      .btn {
        text-align: center;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1800px) {
  .main{
    width: 576px;
    height: 736px;

    .container {
      padding: 50px 30px 45px 30px;

      .items {
        display: grid;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1fr 2fr 2.5fr;
        gap: 15px;

        input, textarea {
          width: 512px;
          height: 46px;
          padding: 12px;
        }

        .inputBlock {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;

          input {
            width: 155px;
            height: 46px;
          }
        }

        .intercom {
          h4 {
            margin-bottom: 15px;
          }
        }

        .comment {
          > textarea {
            width: 512px;
            height: 100px;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1600px) {
  .main{
    width: 576px;
    height: 636px;

    .container {
      .items {
        display: grid;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1fr 1.6fr 2fr;
        gap: 10px;

        .comment {
          > textarea {
            width: 512px;
            height: 80px;
          }
        }

        .formPay {
          display: grid;
          grid-template-rows: 0.5fr 1fr 1fr;

          img {
            width: 30px!important;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////

@media (max-width: 1200px) {
  .main{
    width: 776px;
    height: 400px;

    &__cross {
      width: 35px;
    }

    .container {
      padding: 50px 15px 15px 15px;

      .items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
        gap: 20px;

        input, textarea {
          width: 350px;
          height: 46px;
          padding: 10px;
          font-size: 16px;
        }

        .inputBlock {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;

          input {
            width: 100px;
            height: 46px;
          }
        }

        .intercom {

          h4 {
            text-align: center;
            margin-bottom: 25px;
          }

          &_answer {
            display: flex;
            align-items: center;
            justify-content: space-around;
          }

          &_item {
            margin-right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .intercom__checkbox {
              @include checkbox;

              &_active {
                &:before {
                  @include checkbox_active;
                }
              }
            }
          }
        }

        .comment {

          > textarea {
            width: 350px;
            height: 80px;
          }
        }

        .formPay {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          margin: auto;
          gap: 10px;

          &_item {
            display: flex;
            align-items: center;
            cursor: pointer;
            &_active {
              p {
                color: #E3000F;
              }
            }

            > p {
              margin-left: 10px;
            }
          }

          > h4:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/1;
            text-align: center;
          }
          > div:nth-child(2) {
            grid-column: 1/1;
            grid-row: 2/2;
          }
          > div:nth-child(3) {
            grid-column: 2/2;
            grid-row: 2/2;
          }
        }

        .btn {
          text-align: center;
          margin: auto;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////

@media (max-width: 992px) and (min-height: 600px) {
  .main{
    width: 346px;
    height: 600px;

    .container {
      padding: 30px 5px 5px 5px;

      .items {
        display: grid;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1fr 1.6fr 1fr 1fr;
        gap: 10px;
        grid-template-columns: 1fr;

        input, textarea {
          width: 320px;
          height: 46px;
          padding: 10px;
          font-size: 16px;
          margin: 0 auto;
        }

        .inputBlock {
          margin: 0 auto;
          gap: 10px;
          input {
            width: 100px;
            height: 46px;
            padding: 5px;
          }
        }


        .comment {
          margin: 0 auto;

          > textarea {
            width: 320px;
            height: 80px;
          }
        }

        .formPay {
          display: grid;
          grid-template-rows: 0.5fr 1fr;
          margin:  0 auto;
          gap: 5px;
          width: 90%;

          img {
            width: 30px!important;
          }
        }
      }
    }
  }
}
