.main {
  &_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
  }

  &_ownBox {
    background: #E3000F;
    grid-row: 1/3;
    grid-column: 1/1;
    position: relative;
    overflow: hidden;

    h2 {
      position: absolute;
      left: 6.19%;
      right: 5.94%;
      top: 12%;
      bottom: 70.46%;
    }

    &:hover {
      .main_ownBox__img {
        top: 230px;
      }
    }

    &__img {
      position: absolute;
      width: 707px;
      height: 707px;
      left: -208px;
      top: 260px;
      transition: 500ms;
    }

  }

  &_gezda {
    position: relative;
    grid-row: 1/3;
    grid-column: 2/2;
    background: linear-gradient(208.62deg, #D0D137 0%, #45B649 193.34%);
    overflow: hidden;

    h2 {
      position: absolute;
      left: 27.21%;
      right: 27.21%;
      top: 72.48%;
      bottom: 22.58%;
    }

    &:hover {
      .main_gezda__gezdaMain {
        left: -470px;
      }

      .main_gezda__gezdaBig {
        top: -60px;
      }

      .main_gezda__gezdaLittle {
        top: 16px;
      }

      .main_gezda__gezdaSmall {
        top: 250px;
      }
    }

    &__gezdaMain {
      position: absolute;
      width: 1083.37px;
      height: 723.13px;
      left: -499.78px;
      top: -170px;
      transition: 500ms;
    }

    &__gezdaBig {
      position: absolute;
      width: 777.23px;
      height: 777.23px;
      right: -260.58px;
      top: -80px;
      transition: 500ms;
    }

    &__gezdaLittle {
      position: absolute;
      width: 556.81px;
      height: 556.81px;
      left: 105.15px;
      top: 36px;
      transition: 500ms;
    }

    &__gezdaSmall {
      position: absolute;
      width: 802.41px;
      height: 802.41px;
      left: 0;
      top: 270px;
      transition: 500ms;
    }
  }

  &_ramen {
    position: relative;
    grid-row: 1/3;
    grid-column: 3/3;
    background: #171717;
    overflow: hidden;

    h2 {
      position: absolute;
      left: 25.86%;
      right: 25.86%;
      top: 12%;
      bottom: 82.91%;
    }

    &:hover {
      .main_ramen__img {
        left: -700px;
      }
    }

    &__img {
      position: absolute;
      height: 1009.27px;
      width: 1512.06px;
      left: -722.44px;
      top: -314.83px;
      transition: 500ms;
    }
  }

  &_wok {
    position: relative;
    background: linear-gradient(211.17deg, #45B649 0%, #D0D137 86.65%);
    grid-column: 4/4;
    grid-row: 1/1;
    overflow: hidden;

    h2 {
      position: absolute;
      left: 32.91%;
      right: 32.91%;
      top: 75.6%;
      bottom: 14.21%;
    }

    &:hover {
      .main_wok__img {
        top: -280px;
      }
    }

    &__img {
      position: absolute;
      width: 664.63px;
      height: 665.49px;
      left: -82.32px;
      top: -300px;
      transition: 500ms;
    }
  }

  &_drinks {
    position: relative;
    background: #E3000F;
    grid-column: 4/4;
    grid-row: 2/2;
    overflow: hidden;

    h2 {
      position: absolute;
      left: 16.94%;
      right: 16.94%;
      top: 22.45%;
      bottom: 67.67%;
    }

    &:hover {
      .main_drinks__img {
        left: -80px;
      }
    }

    &__img {
      position: absolute;
      width: 440px;
      height: 440px;
      left: -100px;
      top: 135.1px;
      transition: 500ms;
    }
  }
}